@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&family=Roboto:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

.container {
  max-width: 1342px;
  margin: 0 auto;
  padding: 0 25px;
}

/* First screen */
.first-screen {
  background-color: #EEEFF1;
}

/* NAV first screen */
.nav-panel {
  display: block;
  padding: 79px 0 151px 0;
}

.nav-link {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 164.063%;
  /* 26.25px */
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.nav-item {
  display: inline-block;
  margin-right: 42px;
}

/* MAIN */
.text-hi {
  padding-top: 60px;
  padding-bottom: 65px;
  line-height: 164.063%;
}

.button-writeme {
  margin-bottom: 141px;
  background: #34547A;
  color: white;
  width: 225px;
  height: 65px;
  flex-shrink: 0;
}

/* FONTS */
.font-size48 {
  /* h1 */
  color: #000;
  font-size: 48px;
  font-weight: 500;
}

.text-paragraf {
  font-weight: 400;
  color: #727272;
  max-width: 540px;
  line-height: 164.063%;
  font-size: 16px;
}

.font-size32 {
  /* h2 */
  color: #000;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 50px;
}

.font-size21 {
  /* h3 */
  display: inline;
  color: #FFF;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* ABOUT ME */
.header-aboutme {
  padding-top: 112px;
}

.text-aboutme {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 100px;
}

/* SKILLS */
.paragraf-skills {
  color: #fff;
}

.skills {
  background-color: #34547A;
  margin-bottom: 100px;
}

.skills-item {
  display: inline-block;
}

.items {
  padding: 100px 20px 100px;
  gap: 140px;
}

.img-skills {
  width: 50px;
}

.paragraf-skills {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 164.063%;
  padding-left: 30px;
}

.skills-list {
  text-align: center;
}

/* PROCESS */
.text-process {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 57px;
}

.video-youtub {
  max-width: 1110px;
  height: 600px;
  margin: 0 auto;
  display: block;
  width: 100%;
  padding-bottom: 100px;
}

/* FOOTER */
.contacts {
  background: var(--Accent, #34547A);
  padding-top: 50px;
  padding-bottom: 50px;
}

.text-footer {
  color: #FFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 164.063%;
}